.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 100px 200px;
}
.about h1{
    opacity: 0.7;
    color: green;
}
.about span{
    font-size: 24px;
    margin-top: 20px;
}
.about p{
   font-size: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 70px;
   margin-right: 50px;
   line-height: 30px;
   opacity: 0.7;
}
.mobile{
    display: flex;
    margin: 50px;
    width: 100%;
   

}
.aboutImage{
    width: 30%;
   
}
.atext{
    margin-left: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.atext >h3{
    margin:0px;
    opacity: 0.6;
}

.focus{
    display: flex;
    margin: 50px;
    width: 100%;
   

}
.focusImage{
    width: 30%;
   
}
.ftext{
    margin-left: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.ftext >h3{
    margin:0px;
    opacity: 0.6;
}


@media screen and (max-width: 768px){
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap: 20px;
       margin: 50px 10px;
    }
    .about h1{
        opacity: 0.7;
        margin:10px 0 0 0 ;
    }
    .about p{
        font-size: 16px;
      margin: 0;
      padding: 10px 10px;
        line-height: 30px;
        opacity: 0.7;
     }
     .about img{
        height: 200px;
        padding: 10px 10px;
        border-radius: 20px;
      
     }
    .about span{
        font-size: 20px;
        margin-top: 0;
        font-weight: 500;
        padding: 10px 10px;
    }
   
    .mobile{
        display: flex;
        flex-direction: column;
        margin: 50px;
        width: 100%;
       
    
    }
    .aboutImage{
        width: 100%;    
       
    }
    .aboutImage img{
        height: 200px;
    }
    .atext{
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    
    }
    .atext >h3{
        margin:0px;
        opacity: 0.6;
    }
    
    .focus{
        display: flex;
        flex-direction: column;
        margin: 50px;
        width: 100%;
       
    }
    .focusImage{
        width: 100%; 
       
    }
    .focusImage img{
        height: 200px;
    }
    .ftext{
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    
    }
    .ftext >h3{
        margin:0px;
        opacity: 0.6;
    }
}