.hotel{
    margin-left: 50px;
    margin-top: 50px;
}
.checkIn{
    margin: 10px;
        display: flex;
        flex-direction: column;
         gap: 10px;
    }
    .checkIn span{
    margin-left:10px;
    font-weight: bold;
    
    }
.maininput{

    height:40px;
    width:600px;
    margin-left: 10px;
}
.dateinput1{
height:40px;
width:200px;
margin-left: 59px;
}
.dateinput2{
    height:40px;
    width:200px;
    margin-left: 49px;
    }
.selectbox{
height:50px;
 width:200px;
 margin-left: 12px;
 
}
.buttonhotel{
margin-Top:50px;
margin-Left:300px;
width:300px;
height:40px
}
.collection{
    margin-top: 50px;
    padding-right: 30px;
 
}
.collection h2{
  
    border-radius: 16px;
    padding: 15px 30px;
}
.packagecard{
    display: flex;
    gap: 30px;
    }
    .package-list{
        display: flex;
        flex-direction: column;
    }
    .package-list img{
        height:100px;
        width:200px;
    border-radius: 10px;
    }
    .package-list p{
        margin-top: 10px;
        font-size: 18px;
        color: blue;
    }
    .package-list p:hover{
        color: red;
        text-decoration: underline;
    }
    .package-list p:active{
        color: green;
        text-decoration: underline;
    }
    .package-list span{
       margin-top: 5px; 
       opacity: 0.5;
    }
.hotel-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hotel-list img{
    height: 100px;
    width: 100px;
    border-radius:50px;
}
.hotel-list p{
    margin-left: 0px;
    opacity: 0.7;
}
.fivestar{
display: flex;
gap:70px
}
.collection h2{
  
    border-radius: 16px;
    padding: 15px 30px;
}
.HillHotel-list img{
    height: 200px;
    width: 250px;
    border-radius: 10px;
}
.HillHotel-list p{
    font-size: 20px;
    margin-top: 5px;
}
.HillHotel{
    display: flex;
    gap: 50px;
}
.HoneyMoonHotel{
    display: flex;
    gap:50px
}

@media screen and (max-width: 760px){
    .hotel{
        margin-left: 20px;
        margin-top: 50px;
    }
    .checkIn{
        margin: 10px;
        display: flex;
        flex-direction: column;
         gap: 10px;
         width: 100%;
    }
    .checkIn span{
    margin-left:10px;
    font-weight: bold;
    
    }
    .maininput{
      height:30px;
      width:90%;
     border-radius: 10px;
     margin-top: 5px;

    }
    .dateinput1{
    height:30px;
    width:150px;
    }
    .dateinput2{
        height:30px;
        width:150px;
        }
    .selectbox{
    height:30px;
     width:100px;
     margin-Left:15px;
    }
    .buttonhotel{
    margin-Top:20px;
    margin-left: 50px;
    width: 200px;
    height:40px
    }
    .collection{
        margin-top: 20px;
        padding: 10px;
     
    }
    .collection h2{
      font-size: 20px;  
      color: green;
      padding: 0 0 10px 0;
      text-decoration: underline;
    }
 
     .packagecard{
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 20px;
    }
    .package-list{
        display: flex;
        flex-direction: column;
    }
    .package-list img{
        height: 100px;
        width: 140px;
    }
    .package-list p{
        margin-top: 10px;
        font-size: 16px;
        color: blue;
    }
    .package-list span{
        margin-top: 5px; 
        opacity: 0.5;
        font-size: 14px;
     }
    .fivestar{
    display: grid;
    grid-template-columns: 33% 33% 33%;
   gap: 10px;
   padding: 10px;
   justify-content: center;
   align-items: center;
    }

    .hotel-list{
        display: flex;
        flex-direction: column;
         }
    .hotel-list img{
        height: 100px;
        width: 100px;
        border-radius:50px;
        
    }
    .hotel-list p{
        margin-left: 0px;
        opacity: 0.7;
    }
    .HillHotel{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        padding: 10px;
        gap: 10px;
    }
    .HillHotel-list img{
        height: 100px;
        width: 100%;
        border-radius: 10px;
    }
    .HillHotel-list p{
        font-size: 16px;
        font-weight: bold;
        opacity: 0.7;
        margin-top: 5px;
    }
  
    .HoneyMoonHotel{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        padding: 10px;
        gap: 10px;
    }
}

@media screen and (max-width: 500px){
    .hotel{
        margin-left: 20px;
        margin-top: 50px;
    }
    .checkIn{
        margin: 10px;
        display: flex;
        flex-direction: column;
         gap: 10px;
         width: 90%;
    }
    .checkIn span{
    margin-left:10px;
    font-weight: bold;
    
    }
    .inputcheckIn{
        display: flex;
    }
    .maininput{
      height:30px;
      width:80%;
     border-radius: 10px;
     margin-top: 5px;

    }
    .dateinput1{
    height:30px;
    width:150px;
    }
    .dateinput2{
        height:30px;
        width:150px;
        }
    .selectbox{
    height:30px;
     width:100px;
     margin-Left:15px;
    }
    .buttonhotel{
    margin-Top:20px;
    margin-left: 50px;
    width: 200px;
    height:40px
    }
    .collection{
        margin-top: 20px;
        padding: 10px;
     
    }
    .collection h2{
      font-size: 20px;  
      color: green;
      padding: 0 0 10px 0;
      text-decoration: underline;
    }
 
     .packagecard{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
    }
    .package-list{
        display: flex;
        flex-direction: column;
    }
    .package-list img{
        height: 100px;
        width: 140px;
    }
    .package-list p{
        margin-top: 10px;
        font-size: 16px;
        color: blue;
    }
    .package-list span{
        margin-top: 5px; 
        opacity: 0.5;
        font-size: 14px;
     }
    .fivestar{
    display: grid;
    grid-template-columns: 50% 50%;
   gap: 10px;
   padding: 10px;
   justify-content: center;
   align-items: center;
    }

    .hotel-list{
        display: flex;
        flex-direction: column;
         }
    .hotel-list img{
        height: 100px;
        width: 100px;
        border-radius:50px;
        
    }
    .hotel-list p{
        margin-left: 0px;
        opacity: 0.7;
    }
    .HillHotel{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10px;
        gap: 10px;
    }
    .HillHotel-list img{
        height: 100px;
        width: 150px;
        border-radius: 10px;
    }
    .HillHotel-list p{
        font-size: 16px;
        font-weight: bold;
        opacity: 0.7;
        margin-top: 5px;
    }
  
    .HoneyMoonHotel{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10px;
        gap: 10px;
    }
}


