.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-top: 70px;
    align-items: center;
}
.news img{
  width: 40%;
  height: 300px;
 border-radius: 20px;
}
@media screen and (max-width: 768px){
    .news{
        display: flex;
        flex-direction: column;
        justify-content: center;
       margin-top: 70px;
        align-items: center;
        padding: 20px;
    }
    .news img{
      width: 50%;
      height: 200px;
     border-radius: 20px;
    }
    .news h2{
        opacity: 0.8;
        font-size: 20px;
    }
}
@media screen and (max-width: 500px){
    .news{
        display: flex;
        flex-direction: column;
        justify-content: center;
       margin-top: 70px;
        align-items: center;
        padding: 20px;
    }
    .news img{
      width: 100%;
      height: 200px;
     border-radius: 20px;
    }
    .news h2{
        font-size: 20px;
        opacity: 0.8;
    }
}