.banner{
    background-image: url(../assestes/Travel.avif);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height: 90vh;
    width: 100%;
 
}
.text{
    color: white;
    padding-left: 200px;
    padding-top: 250px;
}
.text>span{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
    

}
.text>div{
    font-size: 50px;
    font-weight: bolder;
    
}
@media screen and (max-width: 768px){
    .banner{
        height: 50vh;
        width: 100%;
    }
.text{
    padding-left: 50px;
    padding-top: 100px;
   
}
.text>span{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: blue;
    padding-left: 4px;
    
}
.text>div{
    font-size: 40px;
    font-weight: bolder;
    
}
}