.logo{
    font-size: 24px;
    font-weight: bold;
    opacity: 0.8;
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
background-clip: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 99;
    top: 0;
    background-color: white;
    position: sticky;
    width: 100%;
   
     
   

}
.book{
    margin-right: 20px;
}
.navList{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;


}
a:hover{
    color: crimson;
    

}
a:active{
    color: green;
    text-decoration: underline;
}