.navbar{
    top: 0;
    padding: 0 20px;
    z-index: 99;
    position: fixed;
    width: 100%;
    background-color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo{
    font-size: 24px;
    font-weight: bold;
    opacity: 0.8;
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
background-clip: none;
}
.menu-icon{
    display: none;
}
.nav-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.nav-elements li{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-elements li:hover{
    color: red;
}

.signin{
display: flex;
align-items: center;
justify-content: center;
}
.signin:hover{
    border: 1px solid black;
    cursor: pointer;
}
.signpara{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px; 
}
.logout{
display: flex;
justify-content: center;
align-items: center;
position: relative;
border: transparent;
}
.logout:hover{
    border: 1px solid black;
    cursor: pointer; 
}

.book{
    display: block;
    margin-right: 30px;
}

@media screen and (max-width: 768px){
    .navbar{
        width: 100%;
    }
    .nav-elements{
        display: none;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       position: absolute;
        width: 100%;
       
        top: 15px;
        left: 0;
        color: gray;
        background-color:black

       }
       .signin{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        }
        .signin:hover{
            border: 1px solid black;
            cursor: pointer;
        }
        .signpara{
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px; 
        }
        .logout{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: transparent;
        margin-right: 50px;
        }
        .logout p{
            display: none;
        }
        .logout:hover{
            border: 1px solid black;
            cursor: pointer; 
        }
  
    .mobile-menu a{
        color: white;
    }
   .mobile-menu li{
    padding: 20px 16px;
    cursor: pointer;
    text-transform: capitalize;

    margin-right: 90px;

    }
    .mobile-menu li:hover{
        color: red;
    }
    .menu-icon{
        display: block;
        right: 50px;
        position: absolute;
    }
    .book{
        display: none;
    }
    
}