.product{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    
 
}
.product-text{
   
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    
}
.ProductDetails{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
   
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color:black
}
.pagination span{
border: 1px solid black;
padding: 10px 10px;
cursor: pointer;
}
.pagination button{
    border-radius: 0px;
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    
}
.active{
    background-color: green;
    color: white;
    
}