.product{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
 
}
.product-text{
    border: 1px solid black;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.6;
}
.ProductDetails{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;

    
}
.pagination{
    
    display: flex;
    justify-content: center;
    padding: 10px;
 margin: 0 350px;
    align-items: center;
    
}
.pagination span{
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;

}
.pagination span:hover{
    background-color: red;
}
.Pagination_selected{
    background-color: lightgray;
}